# Attiva il modulo Rewrite

RewriteEngine On

# Regole URL SEF

# Italiano

RewriteRule ^/?$ index.php [L]
RewriteRule ^/?$ index.php?pag=landing [L]
RewriteRule ^home/?$ index.php?pag=home [L]
RewriteRule ^web/?$ index.php?pag=web [L]
RewriteRule ^grafica/?$ index.php?pag=grafica [L]
RewriteRule ^menu/?$ index.php?pag=menu [L]
RewriteRule ^chi-siamo/?$ index.php?pag=chi_siamo [L]
RewriteRule ^fabio/?$ index.php?pag=fabio_landing [L]
RewriteRule ^radeesh/?$ index.php?pag=radeesh_landing [L]
RewriteRule ^claudio/?$ index.php?pag=claudio_landing [L]
RewriteRule ^luca/?$ index.php?pag=luca_landing [L]
RewriteRule ^giulio/?$ index.php?pag=giulio_landing [L]
RewriteRule ^fabrizio/?$ index.php?pag=fabrizio_landing [L]
RewriteRule ^servizi/?$ index.php?pag=servizi[L]
RewriteRule ^casi-di-successo/?$ index.php?pag=referenze [L]
RewriteRule ^contatti/?$ index.php?pag=contatti [L]

# Inglese