# Attiva il modulo Rewrite

RewriteEngine On

# Indexing

#DirectoryIndex landing.php

# Redirect

#Redirect / http://www.laboratorio-a.com/progettoa/landing.php

# Rewrite URL SEF

#RewriteRule ^progetto-a/?$ landing.php [L]
#RewriteRule ^/?$ index.php [L]